<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocuNote"
        tools:targetApi="35">
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DocuNote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".DocifyAI"
            android:exported="false"
            android:label="@string/title_activity_docify_ai"
            android:theme="@style/Theme.DocuNote" />
        <activity
            android:name=".ViewerActivity"
            android:exported="false"
            android:label="@string/title_activity_viewer"
            android:theme="@style/Theme.DocuNote" />
        <activity
            android:name=".FolderScopeActivity"
            android:exported="false"
            android:label="@string/title_activity_folder_scope"
            android:theme="@style/Theme.DocuNote" />
        <activity
            android:name=".EditPDFActivty"
            android:exported="false"
            android:label="@string/title_activity_edit_pdfactivty"
            android:theme="@style/Theme.DocuNote" />
        <activity
            android:name=".PDFViewerActivity"
            android:exported="false"
            android:label="@string/title_activity_pdfviewer"
            android:theme="@style/Theme.DocuNote" />
        <activity
            android:name=".CreatePDFActivity"
            android:exported="false"
            android:label="@string/title_activity_create_pdfactivity"
            android:theme="@style/Theme.DocuNote" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.DocuNote">
        </activity>

        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL-car.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL-pixel.so"
            android:required="false" />
    </application>

</manifest>